
body{
    background-image:url('https://cdn.futura-sciences.com/sources/images/developpeur_web1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Full screen height */
    width: 100%;
}